<h1>Ma Calculatrice</h1>

<input #A type="number">
<input #B type="number">
<input #O type="text"> <br>

@for (btn of buttons; track btn.id ){
    <button (click)="variableSave(btn.valeur)">
        {{btn.valeur}}
    </button>
}
<button    
    (click)="testCalcul(A.value, B.value, O.value)">
    TestCalcul
</button><br>
<button
    [style.backgroundColor]="color"
    (click)="testGet()">
    TestConnexion
</button> 

<div>{{isConnected}}</div>

@if (resultCalculate) {
    <div>Resultat : {{resultCalculate}}</div>
} @else {
    <div>{{errorCalculate}}</div>
}
